* {
  padding: 0;
  margin: 0;
}

.App {
  background-image: linear-gradient(120deg, #FF4081, #81D4FA);
}

.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #000000;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
  cursor: pointer;
}

/*icons on list items */
#progressbar #account::before {
  font-family: FontAwesome;
  content: "\f023"
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #preview:before {
  font-family: FontAwesome;
  content: "\f09d";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active::before, #progressbar li.active::after {
  background: skyblue;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
}

#msform fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  text-align: left;
  color: #9e9e9e;
}

#msform input {
  padding: 0px 8px 4px 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  margin-top: 25px;
  width: 100%;
  box-sizing: border-box;
  font-family: monsterrat;
  color: #2C3E50;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input.red {
  border-bottom: 2px solid red;
}

#msform input:focus {
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid skyblue;
  outline-width: 0;
}

#msform .action-button{
  width: 100px;
  background: skyblue;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  transition: background-color 0.5s ease-in;
}

#msform .action-button:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
  background-color: #4689f2;
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  transition: background-color 0.5s ease-in;
}

#msform .action-button-previous:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
  background-color: #242424;
}

.fs-title {
  font-size: 25px;
  color: #2C3E50;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

.error {
  color: red;
  font-size: 14px;
}

.field {
  padding: 0px 8px 4px 8px;
  border: none;
  margin-top: 25px;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 16px;
  letter-spacing: 1px;
}

.info {
  color: #242424;
  font-size: 18px;
  font-weight: 600;
  margin-left: 8px;
}